{% extends 'header.html' %}
{% block content %}
<html>
<head>
	<style>
		.all{
			border:ridge;
			font-size:25px;
		}
				body{
			background-color: grey;
		}
	</style>
</head>
<body>
<div class="all">
<h1><font size="7">About</font></h1>
<p>
CodeHacker is a not-for-profit educational initiative by Vivek&Company, an Indian software company.
 It is a global programming community that fosters learning and friendly competition, built on top of the world’s largest competitive programming platform.
 We have also built a large community of problem curators.
</p>
<p>
CodeHacker was created as a platform to help programmers make it big in the world of algorithms, computer programming and programming contests.
 We host three featured contests every month and give away prizes and goodies to the winners as encouragement. 
 Apart from this, the platform is open to the entire programming community to host their own contests.
 Major institutions and organizations across the globe use our platform to host their contests.
 On an average, 30+ external contests are hosted on our platform every month.
</p>
<p>
We also partner with colleges and groups to create local CodeHacker Chapters, meet-ups, orientation sessions, programming workshops.
 In addition, we sponsor coding contests and teams of Indian programmers as part of our Go for Gold Initiative.
</p>
<p>
Over the last six years, we have taken some steps forward.
 Today, it won’t be incorrect to say that students in most of the top tier engineering colleges in India are making use of the platform.
</p>
<p>
<b>Over a million programmers worldwide have joined CodeHacker so far, and we're always looking for more.</b>
</p>
<br><hr>
<p><font size="5"><b>CodeHacker - A Platform for Aspiring Programmers</b></font></p>
<p>
 CodeHcaker was created as a platform to help programmers make it big in the world of algorithms, computer programming and programming contests.
 At CodeHacker we work hard to revive the geek in you by hosting a programming contest at the start of the month and another smaller programming challenge in the middle of the month.
 We also aim to have training sessions and discussions related to algorithms, binary search, technicalities like array size and the likes.
 Apart from providing a platform for programming competitions,
 CodeHacker also has various algorithm tutorials and forum discussions to help those who are new to the world of computer programming.
</p>
<p><font size="5"><b>Practice Section - A Place to hone your 'Computer Programming Skills'</b></font></p>
<p>
 Try your hand at one of our many practice problems and submit your solution in a language of your choice. Our programming contest judge accepts solutions in over 35+ programming languages.
 Preparing for coding contests were never this much fun! Receive points, and move up through the CodeHacker ranks.
 Use our practice section to better prepare yourself for the multiple programming challenges that take place through-out the month on CodeHacker.
</p>
<p><font size="5"><b>Compete - Monthly Programming Contests and Cook-offs</b></font></p>
<p>
 Here is where you can show off your computer programming skills. Take part in our 10 day long monthly coding contest and the shorter format Cook-off coding contest. Put yourself up for recognition and win great prizes.
 Our programming contests have prizes worth up to INR 20,000 (for Indian Community), $700 (for Global Community) and lots more CodeHacker goodies up for grabs.
</p>
</div>
</body>
</html>
{% endblock %}